.adminComponent {
    display: flex;
}

.container-list-crypto, .container-list-article, .container-params {
    width: 30vw;  
    margin: 20px;
    max-height: calc(85vh - 80px);
}

@media (max-width: 900px) {
    .adminComponent {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .container-list-crypto, .container-list-article, .container-params {
        width: 92vw;  
        margin: 20px auto;
        max-height: calc(85vh - 80px);
    }
}

.container-btn {
    width: 25vw;
    min-width: 440px;
    margin: 30px;
}

.button-edit-crypto {
    margin: 0 auto;
    display: block;
    width: 90px;
}
